
body {
  line-height: 1.5;
  font-size: 0.85rem;
  color: #102a42;
  background-size: cover;
  background-image: url("./images/back.jpeg");
  background-attachment: fixed;
  background-repeat:repeat;
  
}
#section-center {
 background-image: url("./images/back.jpeg");
  padding: 2rem;
  border-radius: 10px;

}

h1,
h2,
h3,
h4 {
  text-transform: none;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  text-size: 16px;
}

p {
  margin-bottom: 1.25rem;
  text-size: 14px;
}

/* --- Buttons --- */

.btn {
  text-transform: uppercase;
  background: transparent;
  padding: 0.375rem 0.75rem;
  display: inline-block;
  font-size: 0.875rem;
  border: 2px solid black;
  cursor: pointer;
  margin-top: 1rem;
margin-bottom: 1rem;
}

.btn:hover {
  color: white;
  background: black;
}

.filter-btn {
  background: blue;
  border-color: ivory;
  font-size: 1rem;
  margin: 0 0.5rem;
  color: white;
  cursor: grab;
  border-radius: 5px;
  letter-spacing: 1px;
}

.filter-btn:hover {
  background: aliceblue;
  color: black;
}

.filter-btn::selection {
  background-color: aliceblue;
  color: black;
}

/* --- Sections & Layout --- */

.menu {
  padding: 5rem 0;
}

.title {
  text-align: center;
  margin-bottom: 5px;
}

.underlined {
  width: 5rem;
  height: 0.25rem;
  background-color: #ff6b6b; /* Note: You might want a color here to see it! */
  margin-left: auto;
  margin-right: auto;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}

/* --- Menu Items --- */

.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}

.photo {
  object-fit: cover;
  height: 200px;
  border: 0.1rem dotted white;
  border-radius: 5px;
}

.item-info {

}
.item-info header {
  display: flex;
  justify-content: space-between;
}

.item-info h4 {
  margin-bottom: 0.5rem;
}

.price {
  color: darkblue;
}

.item-text {
  margin-bottom: 0px;
  padding-top: 1rem;
}
button {
  margin-top: 1rem;
}